{{#each this}}
<li class="item">
    <article class="article">
        <div class="name">
            <h1 class="name-country">{{name}}</h1>
        </div>
        <div class="country-characteristics">
            <h2 class="capital">Capital : <span>{{capital}}</span></h2>
            <span class="population">Population : <span>{{population}}</span></span>
            <div class="langs">
                <h2 class="lang-title">Language : </h2>
                <ul class="lang-list">
                    {{#each languages}} <li class="lang-item"><span>{{this.name}}</span></li> {{/each}}
                </ul>
            </div>
        </div>
        <div class="img-flag">
            <img src="{{flag}}" alt="" width="70%" >
        </div>
    </article>
</li>
{{/each}}